@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
/* DESKTOP VIEW  */

* {
  font-family: "Montserrat", sans-serif !important;
}

.page-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}
#home-team-td {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
#away-team-td {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.vs {
  font-weight: bold;
  font-size: 16px;
  /* border: 1px solid black; */
  padding-left: 40px;
  padding-right: 40px;
}

.match-headers th {
  background: #2b004a;
  color: white;
  height: 60px;
  /* border-top: 15px solid #2b004a; */
}
.modal-title {
  font-size: 25px;
}

.box-score {
  color: rgb(9, 160, 9);
  width: 50px;
  background: rgb(226, 225, 225);
  border-radius: 8px;
}

.final-box-score {
  color: rgb(100, 99, 99);
  background: rgb(226, 225, 225);
  border-radius: 8px;
}
.matches-table td {
  text-align: center;
}
.matches-table tr:nth-child(1) {
  margin-bottom: 20px;
}
.matches-table-container {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-end: 4;
  height: 200px;
  width: 100%;
  text-align: center;
}
.matches-table {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-end: 4;
  height: 690px;
  overflow: scroll;
  padding-top: 10px;
}

.leagues-table {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-end: 4;
  height: 690px;
  overflow: scroll;
  border-top: 60px solid #2b004a;
}
.league-container {
  margin-top: 100px;
  margin-bottom: 100px;

  grid-column-start: 2;
  grid-column-end: 5;

  grid-row-start: 1;
}
.card {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.picks-container {
  grid-column-start: 3;
  grid-row-start: 1;
  margin-top: 0;
  color: black;
  margin-top: 100px;
  text-align:center
}
.profile-header {
  text-align: center;
}
#matches-outcome {
  padding: 20px;
  grid-column-start: 2;
grid-column-end: 5;
  color: #333;
  grid-row-start: 2;
  margin-top: 50px;
/*   grid-row-start: 1;
  overflow: auto;
  margin-top: 150px; */
}

.content {
  color: #333;
}
.input-group {
  margin-bottom: 20px;
}

.user-picks {
  background: #f2f2f2;
  margin-bottom: 10px;
}

input[type="number"] {
  width: 20%;
}
.score-input {
  font-size: 90%;
}
select.label-winner {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 5px;
}

.standings-table {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-end: 4;
  height: 690px;
  overflow: scroll;
  border-top: 60px solid #2b004a;
}
.standings-table1 {
  /* grid-column-start: 2;
  grid-column-end: 5;
  grid-row-end: 4; */
}
.standings-row-D {
  height: 70px;
  background-color: rgb(238, 238, 238);
  text-align: center;
  line-height: 45px;
}
.pic {
  grid-column-start: 2;
  grid-row-start: 2;
}

.youtube {
  margin-bottom: 0;
  grid-column-start: 3;
  grid-row-start: 2;
  width: 120%;
  height: 100.5%;
  margin-left: 170px;
}

.standings-crest-D {
  width: 30px;
  padding: 0px 5px;
  margin-top: 15px;
}
#standings-crest-td-D {
  padding-left: px;
}
.under-message {
  font-size: 40px;
}

.standings-position-D {
  padding-bottom: 20px;
  font-size: 10px;
  float: left;
  margin-top: -14px;
  margin-left: 2px;
}

.standings-D {
  padding: 10px;
  width: 100%;

  /* border: 1px solid black; */
}
#welcome-message {
  grid-column-start: 2;
  grid-column-end: 5;

  padding-top: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  /* color:#2b004a ;
	background-image: -webkit-linear-gradient(180deg, #2b004a, #00e9ab);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear; */
  animation: flow 15s ease-in-out infinite;
  background: linear-gradient(-60deg, #2b004a, #00e9ab, #826c92);
  background-size: 300%;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes flow {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/* profile drop down */
.dropdown {
  /* height: 1.8em;
  width: 290px;
  overflow: auto;
  max-height: 20px;
  size: 4; */
  box-sizing: border-box;
}

/* @-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(180deg);
  }
} */

.standings-D td {
  padding: 0px 20px;
  /* border: 1px solid black; */
  /* border-radius: 5px; */
}
#standings-club-D {
  text-align: left;
  padding: 5px;
}
th {
  background: white;
  text-align: center;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
}

.bi {
  /* padding: 3px; */
  padding: 0px 3px;
  /* padding-bottom: -2px; */
  margin: 0;
}

span {
  margin: 0;
  padding: 0;
}
/* .App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */

.wrapper {
  grid-column-start: 2;
  grid-column-end: 5;
}

.inner-main-menu {
  width: 100vw;
  margin: 0 auto;
}

.nav-links {
  margin: 0;
  list-style: none;
  text-align: right;
  padding-top: 66px;
  padding-left: 100px;
  padding-right: 100px;
}

.nav-links li {
  float: none;
  display: inline-block;
  color: white;
  font-size: 20px;
}

.nav-links li a {
  font-size: 20px;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  color: #fdfcfd;
  font-weight: bold;
  letter-spacing: 1px;
}
.nav-links li a:hover,
.nav-links-button:hover {
  color: #00e9ab;
}
.nav-links li:nth-child(1) {
  float: left;
  color: white;
}
.nav-links li:nth-child(2) {
  float: left;
  color: white;
}
.nav-links li:nth-child(3) {
  float: left;
  color: white;
}

.nav-links-button:focus,
.nav-links-button {
  text-align: right;
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  color: #fdfcfd;
  font-weight: bold;
  letter-spacing: 1px;
  outline: none;
}

.edit-league-button:focus,
.edit-league-button {
  text-align: right;
  color: gray;
  text-decoration: none;
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
  outline: none;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.delete-league-button:focus,
.delete-league-button {
  text-align: center;
  color: gray;
  text-decoration: none;
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 10px;
  margin: auto;
  width: 70%;
}

.edit-delete-league-button:focus,
.edit-delete-league-button {
  text-align: center;
  margin: auto;
  border: none;
  font-size: 16px;
  text-decoration: none;
  display: block;
  background: grey;
  border-radius: 20px;
  width: 50%;
  height: 50%;
  letter-spacing: 1px;
  outline: none;
}
.edit-delete-league {
  margin: auto;
}
#main-menu {
  width: 100vw;
  position: relative;
  background: #2b004a;
  height: 200px;
}
.logo-area {
  width: 250px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 0;
  content: "";
  margin-left: -100px;
  padding-top: 25px;
}
.logo {
  width: 200px;
}

.pick-button {
  border-radius: 10px;
  border: 1px solid #00e9ab;
  color: white;
  background: #00e9ab;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px;
  margin: 5px;
  letter-spacing: 1px;
  transition: transform 80ms ease-in;
}
.back-button {
  border-radius: 10px;
  border: 1px solid grey;
  color: white;
  background: grey;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px;
  margin: 5px;
  letter-spacing: 1px;
  transition: transform 80ms ease-in;
}

.nav-buttons {
  border-radius: 20px;
  border: 1px solid #00e9ab;
  color: white;
  margin: 20px;
  background: #00e9ab;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 20px;
  letter-spacing: 1px;
  transition: transform 80ms ease-in;
}
.nav-buttons:focus {
  outline: none;
}
.nav-buttons:active {
  transform: scale(0.95);
}

.sign-in-form {
  /* 
  width: 400px;
 opacity: 1;
 visibility: visible;
  transition: all .75 ease;
  background: blue; */
  opacity: 1;
  /* height: 150px; */
  /* when height set it's size hide the Login button and can't toggle; */
  width: 500px;
  position: absolute;
  top: 70%;
  right: 5%;
  transition: all 0.5s ease;
}

.login-hidden {
  /* width: 0px;
  opacity: 0;
  transition: all 0s linear 300ms, opacity 300ms; */
  /* height: 150px;
  width: 1px; */
  opacity: 0;
  position: absolute;
  top: 70%;
  right: 0%;
  transition: all 0.5s ease;
}
.form {
  padding: 10px;
}
#username-input {
  margin-right: 20px;
  margin-bottom: 10px;
  width: 200px;
}

#password-input {
  margin-right: 20px;
  margin-bottom: 10px;
  width: 200px;
  margin-left: 0px;
}

#email-input {
  margin-bottom: 10px;
  width: 200px;
}

#password-c-input {
  margin-bottom: 10px;
  width: 200px;
}

.signin-button {
  margin-top: 6px;
  width: 30px;
  height: 30px;
  float: right;

  margin-left: 10px;
  /* background: #fff; */
  border-radius: 100%;
  border: 1px solid#2f2482;
  color: #2f2482;
  font-size: 24px;
  cursor: pointer;

  transition: 0.2s ease-out;
}

.signin-button:hover {
  background: #00e9ab;
  color: #fff;
  outline: 0;
  border: 1px solid#00E9AB;
}
.signin-button:focus {
  outline: none;
}
.bi-arrow-right-circle {
  margin-left: -10px;
  margin-top: -5px
}
.profile-header {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.profile-picks-table {
  border-collapse: separate;
  border-spacing: 6px;
}
.profile-picks-table tr:last-child td {
  font-weight: bold;
  text-align: center;
}
.profile-table-points {
  text-align: center;
}
.picks-table {
  border-collapse: separate;
  border-spacing: 6px;
  text-align: center;
}

.league-table-container {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.league-table-container table {
  grid-column-start: 2;
}
.club-table-container {
  margin-top: 50px;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.club-table-container table {
  grid-column-start: 2;
  text-align: center;
  line-height: 2em;
}
.club-container-header {
  grid-column-start: 2;
  text-align: center;
}

.club-info {
  margin-top: 10px;
  font-weight: bold;
  grid-column-start: 2;
  text-align: center;
}
.club-container-image {
  grid-column-start: 2;
}

#player-name {
  float: left;
}

#player-points {
  float: right;
}
#league-name {
  grid-column-start: 2;
  text-align: center;
  margin-top: 100px;
  font-weight: bold;
}
.league-table-container table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.club-table-container table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.ui.statistic {
  font-size: 15px;
  grid-column-start: 4!important;
  text-align: center;
  margin-top: 100px!important;
  grid-row-start: 1!important;
}
.profile-header {
  padding: 20px;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.ui.statistic > .value,
.ui.statistics .statistic > .value {
  color: #00e9ab !important;
}
.ui.statistic > .label,
.ui.statistics .statistic > .label {
  color: black !important;
}

.user-profile-leagues {
  grid-column-start: 2;
  grid-row-start:1;
  color: black;
  margin-top: 100px;
  text-align: center;
 
/*   grid-column-start: 3; */
}

h5 {
  font-weight: bold;
}

.individual-league {
  background: #f2f2f2;
  margin: 5px;
  border-radius: 2px;
  color: rgb(202, 166, 202);
}

.individual-league:hover {
  background-color: #00e9ab;
}
#league-link {
  color: black;
}
#league-link:hover {
  color: white;
  text-decoration: none;
}
