@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
/* DESKTOP VIEW  */

* {
  font-family: "Montserrat", sans-serif;
}
.page-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

.standings-table {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-end: 4;
  height: 690px;
  overflow: scroll;
}
.standings-row-D {
  height: 70px;
  background-color: rgb(238, 238, 238);
  text-align: center;
  line-height: 45px;
}

.standings-crest-D {
  width: 30px;
  padding: 0px 5px;
  margin-top: 15px;
}
#standings-crest-td-D {
  padding-left: px;
}

.standings-position-D {
  padding-bottom: 20px;
  font-size: 10px;
  float: left;
  margin-top: -14px;
  margin-left: 2px;
}

.standings-D {
  padding: 10px;
  width: 100%;

  /* border: 1px solid black; */
}

.standings-D td {
  padding: 0px 20px;
  /* border: 1px solid black; */
  /* border-radius: 5px; */
}
#standings-club-D {
  text-align: left;
  padding: 5px;
}
th {
  background: white;
  text-align: center;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
}

.bi {
  /* padding: 3px; */
  padding: 0px 3px;
  /* padding-bottom: -2px; */
  margin: 0;
}

span {
  margin: 0;
  padding: 0;
}
/* .App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */

.wrapper {
  grid-column-start: 2;
  grid-column-end: 5;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
  width: 100vw;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
padding: 20px;
}

.nav-buttons {
  border-radius: 20px;
  border: 1px solid #00E9AB;
  color: #2B004A;
  background:  #00E9AB;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  transition: transform 80ms ease-in;
 
}
.nav-buttons:focus {
  outline: none;
}
.nav-buttons:active {
  transform: scale(0.95);
}
